article
  cf()
  center()
  max-width:1024px;
  margin-top:30px;
.articles
  +above(667px)
    col(2/3)
.sidebar
  display none
  +above(667px)
    col(1/3)
    display block
  & > *
    padding-bottom 10px