@import 'jeet'

.login-wrapper

.login
  center(800px)

.register-form
  +above(768px)
    col(1/2)
  form
    center()
    width:260px


.login-logo
  +above(768px)
    col(1/2)
  img
    center()
    animation-iteration-count:infinite;
    animation-duration: 1s;
    animation-delay: 5s;
    max-width:300px
