.loadingIndicator
  center()
  position:relative
  max-width:40px
.n16-article
  max-height 600px
  overflow-y:auto

.n16-article-text
  center()
  max-width:600px
  p
    margin-bottom 20px
    margin-top 20px
  h1,h2,h3,h4,h5
    margin-bottom:30px
    margin-top:30px
  img
    width 100%
  .n16-article-title
    margin-top:20px
    font-size:36px

