.loadingIndicator
  center()
  position:relative
  max-width:40px
.n16-article-text
  center()
  max-width:600px
  h1,h2,h3,h4,h5
    margin-bottom:20px

  .n16-article-title
    margin-top:20px
    font-size:36px

