@require 'reset'
@import 'animate.css'
@require 'variables'
@require 'patterns'
html
  font-family: 'Dosis', sans-serif;
  font-size:18pt;
  color:#FFFFFF;
  background: #000;
  overflow-x hidden

a
  color blue
  cursor pointer
  text-decoration none

@require 'login/login'
@require 'header/header'
@require 'blog/list'
@require 'article/article'
@require 'admin/dashboard'
