@require 'reset'
@import 'animate.css'
@require 'variables'
@require 'patterns'
html
  font-family: 'Dosis', sans-serif;
  font-size:18pt;
  color:#FFFFFF;
  background: #000;
  overflow-x hidden

a
  color:#F4008C
  cursor pointer
  text-decoration none
footer
  div
    text-align:center
    font-size:14px
    color:rgba(255,255,255,0.6)
@require 'login/login'
@require 'header/header'
@require 'blog/list'
@require 'article/article'
@require 'article/comments'
@require 'admin/dashboard'
