@require 'reset'
@import 'animate.css'
@require 'variables'


html
  font-family: 'Dosis', sans-serif;
  color:#FFFFFF;
  background: #00;

a
  color blue
  cursor pointer
  text-decoration none


@require 'login/login'
@require 'header/header'