@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,500);
@import url(https://fonts.googleapis.com/css?family=Signika:300,600);

.product-name,h1 {
  font-family: Dosis;
  font-weight: 200;
  font-size: 48pt;
}

.chapter-heading,h2 {
  font-family: Dosis;
  font-weight: 400;
  font-size: 24pt;
}

.section-heading,h3 {
  font-family: Dosis;
  font-weight: 500;
  font-size: 18pt;
}

.subsection-heading,h4 {
  font-family: Dosis;
  font-weight: 500;
  font-size: 14pt;
}

.text-body-dark {
  font-family: Signika;
  font-weight: 300;
  font-size: 12pt;
  color: rgb(224,224,224);
}

.text-bold-dark {
  font-family: Signika;
  font-weight: 600;
  font-size: 12pt;
  color: rgb(224,224,224);
}

.color-mercury {
  color: rgb(224,224,224);
}

.color-white {
  color: white;
}

.black-background {
  background: black;
  padding: 8pt
}