@import 'jeet'
bp = 900px
.login
  center()
  align()
.register-form
  stack()
  +above(bp)
    col(1/2)
  form
    .text-field
       text-align:center
       &:last-child
         margin-top:10px



.login-logo
  stack()
  +above(bp)
    col(1/2)
  img
    center()
    animation-iteration-count:infinite;
    animation-duration: 1s;
    animation-delay: 2s;
    max-width:350px
    min-width:150px
    width:100%
